.post
  .bild 
    %img{:src => '/pictures/'+@post.bild, :width => '100%', :height => '400px'}
  .titel= link_to @post.titel, url_for(:archive, :show, :id => @post.id)
  #infokasten
    .kakao= 'Kakaogehalt: ' + @post.kakaogehalt.to_s + '%'
    .preis= 'Preis: ' + sprintf("%.2f", @post.preis.to_s).sub(".",",") + ' EUR'
    .inhalt= 'Packungsgewicht ' + sprintf("%.0f", @post.gewicht.to_s) + 'g'
    .naehrwerte= 'N&auml;hrwerte (pro 100g): '
    .kohy= 'Kohlenhydrate: ' + @post.kohlenhydrate.to_s + 'g'
    .zucker= '...davon Zucker: ' + @post.zucker.to_s + 'g'
    .fett= 'Fett: ' + @post.fett.to_s + 'g'
    .zutaten= 'Zutaten: ' + @post.zutaten 
    %p= 'Erh&auml;ltlich in: '+@post.woher 
    %br
    .anbaugebiet= 'Anbaugebiet: '+@post.anbaugebiet

  .body= simple_format(@post.body)

  .wertung
    = 'Wertung: Sehr schlecht '
    %span#zahl= @post.wertung
    = ' Punkte'