.post
  .bild
    / %span / RAHMEN
    .balken
    .ueberschrift
      = @spotlight_name
    %img{:src => "/pictures/"+@post.bild, :width => '560px', :height => '330px'}
  #infokasten
    .zutaten
      = @post.woher
    %table
      %tr
        %td.kakao= 'Kakaogehalt: '
        %td.wert= @post.kakaogehalt.to_s + '%'
      %tr
        %td.preis= 'Preis: '
        %td.wert= sprintf("%.2f", @post.preis.to_s).sub(".",",") + '&euro;'
      %tr
        %td.gewicht= 'Packungsgewicht: '
        %td.wert= sprintf("%.0f", @post.gewicht.to_s) + 'g'
      %tr
        %td.naehrwert= 'Kohlenhydrate: ' 
        %td.wert=sprintf("%.0f", @post.kohlenhydrate.to_s) + 'g'
      %tr
        %td.naehrwert= 'davon Zucker: '
        %td.wert= sprintf("%.0f", @post.zucker.to_s) + 'g'
      %tr
        %td.naehrwert= 'Fett: '
        %td.wert= sprintf("%.0f", @post.fett.to_s) + 'g'
    %table
      %tr
        %td.kakao= 'Zutaten:'
        %td.zutaten= @post.zutaten 
  .titel= link_to @post.titel.upcase, url_for(:archive, :show, :id => @post.id)

  .body{:lang => 'de'}
    = simple_format(@post.body)
    / Wertung:
    / %span#zahl= drittel(@post.wertung)
    / Punkte, 
    / =wertungWorte(@post.wertung)

  .wertung
    / Wertung:
    %span#zahl= drittelworte(@post.wertung)
    Punkte - 
    =wertungWorte(@post.wertung)
    
%hr.elle