
- @title = "Startseite"

#show
  .post
    .bild 
      %img{:src => '/pictures/'+@spotlight.bild}
    .titel= link_to @spotlight.titel, url_for(:archive, :show, :id => @spotlight.id)
    #infokasten
      .preis= @spotlight.preis.to_s() + ' Eur'
      .zutaten= 'Zutatenliste: ' + @spotlight.zutaten 
      .naehrwerte= 'N&auml;hrwerte: '
      = @spotlight.zucker.to_s + 'g Zucker'
      = @spotlight.fett.to_s + 'g Fett'
      .anbaugebiet= 'Anbaugebiet: '+@spotlight.anbaugebiet
      %p= 'Erh&auml;ltlich in: '+@spotlight.woher 
    .body= simple_format(@spotlight.body)

#social_media
  %p Twitter (kommt sp&auml;ter)
	

#posts= partial 'schokolade/post', :collection => @posts