
- @title = "Startseite"

#show= partial 'schokolade/schokolade'

%hr
  
#social_media

  %table
    =javascript_include_tag('twitterFolgen.js')
    %tr
      = link_to image_tag('/pictures/twitter.png'), url_for('http://www.twitter.com/edelbiter')
      %a.twitter-follow-button{"data-lang" => "de", "data-show-count" => "false", "data-show-screen-name" => "false", :href => "https://twitter.com/edelbiter"} @edelbiter folgen
      = link_to '@edelbiter', url_for('http://www.twitter.com/edelbiter')
      = link_to image_tag('/pictures/facebook.png'), url_for('http://www.facebook.com/edelbiter')
      %br
      %br
      = partial 'schokolade/tweet', :collection => @tweets
      %td#facebook
        = partial 'schokolade/facebook'
        
%hr
        
#pagewrap
  #search
    %label{:for => "filter"} Filter
    %input#filter{:name => "filter", :type => "text", :value => ""}
  #body
    %table 
      %thead
        %tr
          %th Kurztitel
          %th Wertung
          %th Preis
      %tbody 
        %tr= partial 'schokolade/postliste', :collection => @posts
    

    =javascript_include_tag('application.js')
