
- @title = "Startseite"

.ueberschrift
  = @spotlight_name

- if @post.class.name == 'Post'
  #show= partial 'schokolade/schokolade'
- if @post.class.name == 'Blogpost'
  .post= partial 'schokolade/blogpost'
  
#social_media
  =javascript_include_tag('twitterFolgen.js')
  = link_to image_tag('/pictures/twitter.png'), url_for('http://www.twitter.com/edelbiter'), target: '_blank'
  %a.twitter-follow-button{"data-lang" => "de", "data-show-count" => "false", "data-show-screen-name" => "false", :href => "https://twitter.com/edelbiter"} @edelbiter folgen
  = link_to image_tag('/pictures/facebook.png'), url_for('http://www.facebook.com/edelbiter'), :id => "fb_img", target: '_blank'
  
  %table  
    %tr 
      // 4 spaltig!
      // tweets (unterhalb) beinhalten schon <td>s!
      = partial 'schokolade/tweet', :collection => @tweets
      %td#facebook
        = partial 'schokolade/facebook'
        
%hr.ellereverse
%br
%br 
.ueberschrift
  Liste aller getesteten Schokoladen:
%br
%br
#search
  %label{:for => "filter"} Filter
  %input#filter{:name => "filter", :type => "text", :value => ""}
#body
  #postliste
    %table 
      %thead
        %tr
          %th.sortable-text Kurztitel
          %th.sortable-numeric Wertung
          %th.sortable-numeric Preis
      %tbody
        %tr= partial 'schokolade/postliste', :collection => @posts

  =javascript_include_tag('application.js')
  =javascript_include_tag('tablesort.js')

