
!!! Strict
%html
  %head
    %title= [@title, "Edelbiter Test"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application', 'webfonts'
    = javascript_include_tag 'jquery'
    = yield_content :include
  %body
    #container
      #header
        / .titelbild
        /   %span &nbsp;
        #top_navigation= render_navigation
        %a.titellink{:href => "/"}
        .titelbild
          / = link_to '&nbsp;&nbsp;&nbsp;', url_for('/')
        #subtitle= $additional.logountertitel

      #main= yield
      %hr.ellereverse

      #footer
        %p= $additional.copyright
        %p= link_to 'admin', url_for('/admin')