
- @title = "About Us"

#about
  - @abouts.each do |about|
    -if about.pic != ''
      %img{:src => "/pictures/"+about.pic}
    %br
    .titel= link_to about.title.upcase, url_for('')
    %br
    %p=about.body 

#imperessum
  %br
  %b Imperessum:
  %p= $additional.impname
  %p= $additional.impstr
  %p= $additional.impstadt
  %p= $additional.impland

