.post
  .bild
    %img{:src => "/pictures/"+schokolade.bild, :width => '560px', :height => '330px'}
  #infokasten
    .zutaten
      = schokolade.woher
    %table
      %tr
        %td.kakao= 'Kakaogehalt: '
        %td.wert= schokolade.kakaogehalt.to_s + '%'
      %tr
        %td.preis= 'Preis: '
        %td.wert= sprintf("%.2f", schokolade.preis.to_s).sub(".",",") + '&euro;'
      %tr
        %td.gewicht= 'Packungsgewicht: '
        %td.wert= sprintf("%.0f", schokolade.gewicht.to_s) + 'g'
      %tr
        %td.naehrwert= 'Kohlenhydrate: ' 
        %td.wert=sprintf("%.0f", schokolade.kohlenhydrate.to_s) + 'g'
      %tr
        %td.naehrwert= 'davon Zucker: '
        %td.wert= sprintf("%.0f", schokolade.zucker.to_s) + 'g'
      %tr
        %td.naehrwert= 'Fett: '
        %td.wert= sprintf("%.0f", schokolade.fett.to_s) + 'g'
    %table
      %tr
        %td.kakao= 'Zutaten:'
        %td.zutaten= schokolade.zutaten 
  .titel= link_to schokolade.titel.upcase, url_for(:archive, :show, :id => schokolade.id)

  .body{:lang => 'de'}
    = simple_format(schokolade.body)
    / Wertung:
    / %span#zahl= drittel(schokolade.wertung)
    / Punkte, 
    / =wertungWorte(schokolade.wertung)

  .wertung
    / Wertung:
    %span#zahl= drittelworte(schokolade.wertung)
    Punkte - 
    =wertungWorte(schokolade.wertung)
    
.trennornament