=f.hidden_field(:ansicht, :value => @auswahl.ansicht)
=f.hidden_field(:reihenfolge, :value => @auswahl.reihenfolge)
%br
.ueberschrift
  Suchen, finden & genie&szlig;en:
%br
%table
  %tr
    %td
      Kategorie:
      =f.select :kategorie, :grouped_options => {'' => [['Alle',0]], 'Kakaogehalt' => [['Unter 70%',1],['70% bis 80%',2],['&Uuml;ber 80%',3]],'Wertung' => [['0 bis 3 Punkte',4],['4 bis 6 Punkte',5],['7 bis 12 Punkte',6]], 'Preis' => [['Unter 2 EUR',7],['2 bis 4 EUR',8],['&Uuml;ber 4 EUR',9]], 'Anderes' => [['Gutes Design',10],['Schlechtes Design',11],['Bemerkenswert',12]]}, :onchange => 'this.form.submit()'
      &nbsp;&nbsp;&nbsp;&nbsp;Sortierung:
      =f.select :sortierung, :options => [['nach Datum des Tests', 4], ['nach Hersteller', 0], ['nach Preis', 1], ['nach Wertung', 2], ['nach Kakaogehalt', 3]], :onchange => 'this.form.submit()'
      %noscript
        =f.submit
  %tr
    %td
      &nbsp;
  %tr
    %td
      &nbsp;
  %tr
    %td
      Reihenfolge:&nbsp;
      - if @auswahl.sortierung == 0
        Alphabetisch
      - if @auswahl.reihenfolge == 0 && @auswahl.sortierung != 0
        = link_to image_tag("/img/glyphicons_212_down_arrow.png", border: 0), url_for(:archive, :sort, :reihenfolge => 1, :ansicht => @auswahl.ansicht, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
      - if @auswahl.reihenfolge == 1 && @auswahl.sortierung != 0
        = link_to image_tag("/img/glyphicons_213_up_arrow.png", border: 0), url_for(:archive, :sort, :reihenfolge => 0, :ansicht => @auswahl.ansicht, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ansicht:&nbsp;&nbsp;
      - if @auswahl.ansicht == 0
        = link_to image_tag("/img/glyphicons_114_list.png", border: 0), url_for(:archive, :sort, :reihenfolge => @auswahl.reihenfolge, :ansicht => 1, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
      - if @auswahl.ansicht == 1
        = link_to image_tag("/img/glyphicons_113_justify.png", border: 0), url_for(:archive, :sort, :reihenfolge => @auswahl.reihenfolge, :ansicht => 0, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
.alignright
  - if @anzahlErgebnisse < 1
    Keine Eintr&auml;ge gefunden
  - elsif @anzahlErgebnisse == 1
    Ein Eintrag Gefunden
  - else
    = @anzahlErgebnisse
    Eintr&auml;ge gefunden
