/ Reihenfolge:
/ =f.radio_button :reihenfolge, :value => 0
/ Von oben nach unten
/ =f.radio_button :reihenfolge, :value => 1
/ Von unten nach oben
/ %br
/ Ansicht:
/ =f.radio_button :ansicht, :value => 0
/ Vollst&auml;ndig
/ =f.radio_button :ansicht, :value => 1
/ Als Liste
=f.hidden_field(:ansicht, :value => @auswahl.ansicht)
=f.hidden_field(:reihenfolge, :value => @auswahl.reihenfolge)
Sortierung:
=f.select :sortierung, :options => [['nach Datum des Tests', 4], ['nach Hersteller', 0], ['nach Preis', 1], ['nach Wertung', 2], ['nach Kakaogehalt', 3]], :onchange => 'this.form.submit()'
%br
Kategorie:
=f.select :kategorie, :grouped_options => {'' => [['Alle',0]], 'Kakaogehalt' => [['Unter 70%',1],['70% bis 80%',2],['&Uuml;ber 80%',3]],'Wertung' => [['0 bis 3 Punkte',4],['4 bis 6 Punkte',5],['7 bis 12 Punkte',6]], 'Preis' => [['Unter 2 EUR',7],['2 bis 4 EUR',8],['&Uuml;ber 4 EUR',9]], 'Anderes' => [['Gutes Design',10],['Schlechtes Design',11],['Bemerkenswert',12]]}, :onchange => 'this.form.submit()'
%br
%noscript
  =f.submit
%br
Reihenfolge:
= if @auswahl.sortierung == 0
  Alphabetisch
= if @auswahl.reihenfolge == 0 && @auswahl.sortierung != 0
  Absinkend
  = link_to 'Umkehren', url_for(:archive, :sort, :reihenfolge => 1, :ansicht => @auswahl.ansicht, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
= if @auswahl.reihenfolge == 1 && @auswahl.sortierung != 0
  Aufsteigend
  = link_to 'Umkehren', url_for(:archive, :sort, :reihenfolge => 0, :ansicht => @auswahl.ansicht, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
%br
%br
Ansicht:
= if @auswahl.ansicht == 0
  Vollst&auml;ndige Tests
  = link_to 'Als Liste anzeigen', url_for(:archive, :sort, :reihenfolge => @auswahl.reihenfolge, :ansicht => 1, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
= if @auswahl.ansicht == 1
  Liste
  = link_to 'Als vollst&auml;ndige Tests anzeigen', url_for(:archive, :sort, :reihenfolge => @auswahl.reihenfolge, :ansicht => 0, :sortierung => @auswahl.sortierung, :kategorie => @auswahl.kategorie, :seite => @auswahl.seite)
%br
%br
%br
Anzahl Ergebnisse: 
= @anzahlErgebnisse