
- @title = "Schokoladen"

#pagewrap
  
  -form_for @auswahl, url(:archive, :index) do |f|
    #suche= partial 'archive/suche', :locals => { :f => f }
  %br
  
  = if @auswahl.ansicht == 1
    #search
      %label{:for => "filter"}
      %input#filter{:name => "filter", :placeholder => "Suche...", :type => "text", :value => ""}
    #body
      =javascript_include_tag('application.js')
      %table 
        %thead
          %tr
            %th Kurztitel
            %th Wertung
            %th Preis
        %tbody 
          %tr= partial 'schokolade/postliste', :collection => @posts
  = if @auswahl.ansicht == 0
    #show= partial 'archive/schokolade', :collection => @posts
    %br
    %br
  = partial 'archive/seitenzahl'